@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');
form {
  font-family: 'Raleway', sans-serif;
  margin-left: 150px;
}
button {
  font-family: 'Raleway', sans-serif;
}
.ajouterPersonnel label,
.ajouterPersonnel input {
  display: block;
  font-size: 20px;
}
.ajouterPersonnel input {
  width: 90%;
  margin-bottom: 15px;
}

.ajouterPersonnel h1 {
    float: center;
    margin-left: 350px;
}
.conges {
  display: inline-block;
  width: 30%;
  margin-top: 15px;
}
.conges2 {
  display: inline-block;
  width: 30%;
}
p{
   margin-left: 2px;
}
.conges input{
    width:100%;
    margin-right:10px;
}
.conges2 input{
    width:100%;
    margin: 20px;
} 
.ajouterPersonnel button {
  float: right;
  margin: 10px;
  color: white;
  border: none;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.annuler{
   background-color: red;
   color: white;
}

.creer{
    background-color: #6f73e6;
}
.jours input{
    width: 15px;
    display: inline-block;
}

.jour input {
    width: 15px;
    display: inline-block;
   
}
 .jour{
  margin-left: 150px;
  margin-top: -135px;
 }

 .ajouterPersonnel h4{
  padding-top: 45px;
 }
