.home h1 {
  text-align: center;
  font-size: 25px;
}
.home table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.home thead {
  background: #6f73e6;
  color: white;
}
.home th {
  border-bottom: 1px solid rgb(219, 214, 214);
}
.home th,
.home td {
  padding: 12px;
}
.home tbody button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.home tbody .status {
  background: crimson;
  color: white;
}
.home tbody .present-status {
  background: #50c878;
}
